# Copy this to "database.yml" and adjust the fields accordingly.
# Only works with mysql adapter.
login: &login
  adapter: mysql
  host: localhost
  username: user
  password: password
#  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *login
  database: myimouto_dev

production:
  <<: *login
  database: myimouto
